/*
|--------------------------------------------------------------------------
| COLORS
|--------------------------------------------------------------------------
*/

$BACKGROUND: #000;
$BACKGROUND_SECONDARY: #868585;
$TEXT_GRAY: #4B4748;
$DETAIL_GRAY: #767273;
$GRAY_VERY_LIGHT: #fafafa;
$FOOTER: #151313;
$WHITE_THEME: #DFDFDF;
$BASE_GREEN: #64C8B2;
$DETAILS_GREEN: #26AC8E;


/*
|--------------------------------------------------------------------------
| IMAGES
|--------------------------------------------------------------------------
*/

$LOGO: '../../assets/imgs/rian-tavares-logo.png';
$MACBOOK: '../../assets/imgs/macbook.png';
$COFFE: '../../assets/imgs/rian-coffe.jpg';
$MASK_BANNER: '../../assets/imgs/mask-banner.png';
$MOUNTAIN: '../../../assets/imgs/sky-banner.jpg';
$MOUNTAIN_LOW: '../../../assets/imgs/sky-banner-low-quality.jpg';
$BRAZIL: '../../assets/imgs/portuguese.png';
$ENGLAND: '../../assets/imgs/english.png';
$GERMANY: '../../assets/imgs/deutsch.png';


/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

// Usage example:  @media #{$media-tablet}

$BREAKPOINT-DESK: 		        "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: 	    "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: 		    "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: 		"only screen and (min-width: 480px)";

$GUTTER: 32px;