.page-content{
    width: calc(100% - 20px);
    margin: 0 auto;

    @media #{$BREAKPOINT-TABLET} {
      max-width: 1000px;
      width: calc(100% - 30px);
      margin: 0 auto;
  }
}

body {
    margin: 0px;
    background-color: $BACKGROUND;
}

h1 {
    font-family: 'Ubuntu-Mono-Bold';
    font-size: 25px;
    margin: 80px 0 50px 0;
}

h2 {
  font-family: 'Ubuntu-Mono-Bold';
  font-size: 24px;
  text-align: center;
}

p {
  font-family: 'Ubuntu-Mono-Regular';
  font-size: 18px;
  line-height: 25px;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  