.App{
    position: relative;
    min-height: 100vh;
    
    &__header {
        position: relative;

        &__lenguage {
            position: absolute;
            z-index: 1;
            right: 10px;
            width: 100px;
            display: flex;
            justify-content: space-between;

            * {
                margin-top: 15px;
                width: 32px;
                height: 19px;
                background: transparent;
                border: 0;    
                background-size: cover;
                background-repeat: no-repeat;
            }

            #brazil {
                background-image: url($BRAZIL);
            }

            #england {
                background-image: url($ENGLAND);
            }

            #germany {
                background-image: url($GERMANY);
            }
        }
    }

    .page-content {
        .section {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media #{$BREAKPOINT-TABLET} {
                position: relative;
            }
            
            &__title {
                color: $WHITE_THEME;
            }
            
            &__desk {

                display: flex;
                flex-direction: column;
                align-items: center;

                @media #{$BREAKPOINT-TABLET} {
                    flex-direction: row;
                }

                &__img {
                    width: 250px;
        
                    img {
                        width: 100%;
                        margin-left: 10px;
                    }
                }
        
                &__text {
                    color: $WHITE_THEME;
                    margin-top: 30px;
                    text-align: justify;

                    @media #{$BREAKPOINT-TABLET} {
                        width: 400px;
                    }
                }
            }
        
        }

        .whoami {
            margin: 60px 0 10px 0;

            @media #{$BREAKPOINT-TABLET} {
                position: absolute;
                padding-left: 220px;
                font-size: 38px;
                margin-top: 0;
            }
        }

        .sec-posts {
            margin-top: 50px;
            background-color: $DETAIL_GRAY;
            width: 100vw;

            @media #{$BREAKPOINT-TABLET} {
                margin: 80px auto 0 auto;
                
            }

            &__bg {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                text-align: center;

                @media #{$BREAKPOINT-TABLET} {
                    max-width: 1000px;
                    width: calc(100% - 30px);
                    margin: 0 auto;
                }
            }

            p {
                color: $WHITE_THEME;
                margin-bottom: 20px;
            }
        }


        .sec-jobs {
            &__content {
                background-color: $WHITE_THEME;
                width: 100vw;
                height: 100%;
            }
        }

        .sec-schools {

            &__container {

                width: 100%;

                @media #{$BREAKPOINT-TABLET} {
                    display: flex;
                    justify-content: space-between;
                }
            }

            &__education {
                @media #{$BREAKPOINT-TABLET} {
                    width: 50%;
                }
            }
            

            h1 {
                text-align: center;
            }

            ul {
                padding: 0;
                list-style-type: none;

                li {

                    margin-bottom: -45px;
                    color: $WHITE_THEME;
                }
              }
              

           .first-li::before {
                background-image: url($ITEM_LIST_FIRST) !important;
            }

            ul li::before {
                background-image: url($ITEM_LIST);
                background-repeat: no-repeat;
                background-size: 80px;
                content: '';
                display: inline-block;
                height: 110px;
                width: 80px;
                background-repeat: no-repeat;
            }
        }

        .sec-skills {
            &__list {
                &__title {
                    color: $WHITE_THEME;
                    padding: 80px 0 50px 0;
                    margin-bottom: 0;
                    @media #{$BREAKPOINT-TABLET} {
                        padding: unset;
                    }
                }
            }
        }

        .sec-portfolio {
            &__container {
                width: 100vw;
                background-color: $WHITE_THEME;
                height: 100%;

                &__title {
                    text-align: center;
                    color: $DETAILS_GREEN;
                }
            }
        }

        .title-posts {
            width: 100%;
            margin: 80px 0 15px 0;
        }

        .title-green {
            color: $DETAILS_GREEN;
            text-align: center;
        }

        .last {
            @media #{$BREAKPOINT-TABLET} {
                padding-bottom: 160px;
            }
        }

        .first {
            @media #{$BREAKPOINT-TABLET} {
                padding-top: 50px;
            }
        }
    }
}

