/*
|--------------------------------------------------------------------------
| COLORS
|--------------------------------------------------------------------------
*/
$light_black_10: #151313;
$black: #000;

$light_gray_20: #fafafa;
$light_gray_10: #868585;
$gray: #767273;
$dark_gray_10: #4B4748;

$theme_green: #64C8B2;
$dark_theme_green: #26AC8E;

$theme_white: #DFDFDF;

$BACKGROUND: $black;
$BACKGROUND_SECONDARY: $light_gray_10;
$TEXT_GRAY: $dark_gray_10;
$DETAIL_GRAY: $gray;
$FOOTER: $light_black_10;
$BASE_GREEN: $theme_green;
$DETAILS_GREEN: $dark_theme_green;


/*
|--------------------------------------------------------------------------
| IMAGES
|--------------------------------------------------------------------------
*/

$LOGO: '../../assets/imgs/rian-tavares-logo.png';
$MACBOOK: '../../assets/imgs/macbook.png';
$COFFE: '../../assets/imgs/rian-coffe.jpg';
$MASK_BANNER: '../../assets/imgs/mask-banner.png';
$MOUNTAIN: '../../../assets/imgs/sky-banner.jpg';
$MOUNTAIN_LOW: '../../../assets/imgs/sky-banner-low-quality.jpg';
$BRAZIL: '../../assets/imgs/flags/brazil.png';
$ENGLAND: '../../assets/imgs/english.png';
$EUA: '../../assets/imgs/flags/us.png';
$GERMANY: '../../assets/imgs/deutsch.png';


/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

// Usage example:  @media #{$media-tablet}

$BREAKPOINT-DESK: 		        "only screen and (min-width: 1280px)";
$BREAKPOINT-TABLET-LAND: 	    "only screen and (min-width: 975px)";
$BREAKPOINT-TABLET: 		    "only screen and (min-width: 600px)";
$BREAKPOINT-MOBILE-LAND: 		"only screen and (min-width: 480px)";

$GUTTER: 32px;