header {
    position: relative;

    .job {
        position: absolute;
        color: #DFDFDF;
        font-size: 20px;
        left: 33px;
        bottom: 42px;
        font-family: 'Ubuntu-Mono-Bold';

        @media #{$BREAKPOINT-TABLET} {
            font-size: 36px;
            bottom: 67px;
            left: 57px;
        }

        @media #{$BREAKPOINT-TABLET-LAND} {
            font-size: 59px;
            bottom: 47px;
            left: 87px;
        }

        @media #{$BREAKPOINT-DESK} {
            bottom: 42px;
            left: 87px;
        }
    }

    .banner {
        width: 100vw;
        height: 220px;
        background-image: url($BANNER_TOP);
        background-size: cover;
        background-repeat: no-repeat;

        @media #{$BREAKPOINT-TABLET} {
            height: 380px;
        }

        @media #{$BREAKPOINT-TABLET-LAND} {
            background-image: url($BANNER_TOP_DESK);
            height: 580px;
        }
        
    }
}