.social {
    width: 220px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;

    @media #{$BREAKPOINT-TABLET} {
        padding-left: 220px;
        margin-top: 0;
        position: absolute;
        top: 220px;
    }

    a {
        color: $BASE_GREEN;
    }
}