.item-skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 30px 0;

    p {
        width: 110px;
        color: $WHITE_THEME;
    }

    &__level {

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;

        &__item {
        
            border-bottom: solid;
            border-width: 5px;
            width: 80px;
            height: 0;
            border-color: $DETAIL_GRAY;
        }
    }

    .basic {
    
        .item-skill__level__item:first-child {
            border-color: $BASE_GREEN;
        }

    }

    .medium {
        .item-skill__level__item:first-child {
            border-color: $BASE_GREEN;
        }

        .item-skill__level__item:nth-child(2) {
            border-color: $BASE_GREEN;
        }

    }

    .hardcore {
        .item-skill__level__item {
            border-color: $BASE_GREEN;
        }
    }

    .break {
        flex-basis: 100%;
        height: 0;
      }
}